@import "tailwindcss";

@theme {
    --color-primary: #164d8e;
    --color-secondary: #EEEEEE;

    --color-brand-100: #FFFFFF;
    --color-brand-500: #8b5cf6;
    --color-brand-900: #4c1d95;
}

@layer utilities {
  .text-brand-100 {
    color: var(--color-brand-100);
  }
}